<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% for (post in posts) { %>
<h1><%= posts[post].title %></h1>
<p>
  <%= posts[post].entry.slice(0, 101) + " ..." %><a
    id="postLink"
    href="/posts/
  <%= posts[post].title %>
  "
    >Read More</a
  >
</p>

<%} %> <%- include('partials/footer'); -%>
